<!DOCTYPE html>
<html>

<head>
    {% include 'CDNline.html' %}
    <link rel="stylesheet" href="static/css/LocationPage.css">
</head>
<body class="m-4">
    <div class="bg-image">
        <h1 class="h1-heading">Tirupati Near Temples</h1>
        <div class="cards d-flex flex-row">
            <div>
                <h1 class="card-heading">Kapila Theertham</h1>
                <p claSS="card-paragraph">Kapila Theertham is a famous Saivite Temple and Theertham,
                    located at Tirupati in the Tirupati District of Andhra Pradesh, India.</p>
                    <img src="https://www.trawell.in/admin/images/upload/153110520KapilaTheertham_Main.jpg" class="card-image" />
            </div>
        </div>
        <div class="cards d-flex flex-row">
            <div>
                <h1 class="card-heading">Govindaraja Temple</h1>
                <p claSS="card-paragraph">Sri Govindarajaswamy Temple is an ancient Hindu-Vaishnavite temple situated
                    at the heart of the Tirupati city in Tirupati district of Andhra Pradesh state in India.</p>
                    <img src="https://assets.thehansindia.com/h-upload/2020/06/12/976316-ttd-givindharaja-swamy.webp" class="card-image" />
                </div>
        </div>
        <div class="cards d-flex flex-row">
            <div>
                <h1 class="card-heading">Padmavathi Temple</h1>
                <p claSS="card-paragraph">Padmavathi Temple is the temple dedicated to Goddess Padmavathi or Alamelumanga,
                    the consort of Lord Venkateswara. The temple is situated in Tiruchanur.</p>
            </div>
            <img src="https://ak.jogurucdn.com/media/image/p25/place-2016-06-24-11-f29f5c06e04d7179a8116551932cf693.jpg" class="card-image" />
        </div>
        <div class="cards d-flex flex-row">
            <div>
                <h1 class="card-heading">Kalyana Venkateshwara Temple</h1>
                <p claSS="card-paragraph">
                    Sri Kalyana Venkateswaraswamy Templeis a Hindu-Vaishnavite temple situated at Narayanavanam,
                    a town in Tirupati district of Andhra Pradesh state,India.</p>
            </div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Srinivasamangapuram_Temple_Tirupati.jpg" class="card-image" />
        </div>
        <div class="cards d-flex flex-row">
            <div>
                <h1 class="card-heading">Kodandarama Temple</h1>
                <p claSS="card-paragraph">Sri Kodandaramaswamy Temple is one of the famous temples,
                    after Tirumala Venkateswara Temple</p>
            </div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/KodhandaRamarTemple.jpg/330px-KodhandaRamarTemple.jpg" class="card-image" />
        </div>
        <div class="cards d-flex flex-row">
            <div>
                <h1 class="card-heading">ISKCON Temple</h1>
                <p claSS="card-paragraph">Popularly also known as Hare Rama Hare Krishna temple,
                    Daily darshan at ISKCON Tirupati Temple starts from 4.15 am to 9 pm</p>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/ISKCON_Tirupathi.jpg" class="card-image" />
            </div>

        </div>
    </div>
</body>

</html>
